.ProjectContainer {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

#root {
    .MainTitle {
        text-transform: uppercase;
        color: #5800A1;
    }
    .Job {
        font-style: italic;
    }
    .Canvas {
        height: 50vh !important;
    }
}
