#root {
    .hero, .sectionContainer {
        min-height: 100vh;
    }

    .menu {
        ul {
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: center;
            gap: 50px;
            font-size: 28px;
            flex-wrap: wrap;
        }
    }
}
