:root {
  font-family: "Roboto Light", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: black;
  color: white;
}

body, html {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
